<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.peerbanhelper.databasent.mapper.java.PeerRecordMapper">

    <resultMap id="queryAddressTotalTraffic" type="com.ghostchu.peerbanhelper.databasent.dto.IPAddressTotalTraffic">
        <result property="totalUploaded" column="uploaded_total"/>
        <result property="totalDownloaded" column="downloaded_total"/>
    </resultMap>

    <select id="queryAddressTotalTraffic" resultMap="queryAddressTotalTraffic">
        SELECT SUM(uploaded) as uploaded_total, SUM(downloaded) as downloaded_total
        FROM peer_records
        WHERE address = #{address}
        GROUP BY address
    </select>

    <resultMap id="queryAddressTimeSeen" type="com.ghostchu.peerbanhelper.databasent.dto.IPAddressTimeSeen">
        <result property="firstTimeSeen" column="firstTimeSeen"/>
        <result property="lastTimeSeen" column="lastTimeSeen"/>
    </resultMap>

    <select id="queryAddressTimeSeen" resultMap="queryAddressTimeSeen">
        SELECT MIN(first_time_seen) as firstTimeSeen, MAX(last_time_seen) as lastTimeSeen
        FROM peer_records
        WHERE address = #{address}
        GROUP BY address
    </select>

    <select id="queryAccessHistoryByIp" resultType="com.ghostchu.peerbanhelper.databasent.table.PeerRecordEntity">
        SELECT * FROM peer_records
        WHERE address = #{ip}
        ORDER BY ${orderBySql}
    </select>

    <resultMap id="queryClientAnalyse" type="com.ghostchu.peerbanhelper.databasent.dto.ClientAnalyseResult">
        <result property="peerId" column="peerId"/>
        <result property="clientName" column="clientName"/>
        <result property="uploaded" column="uploaded"/>
        <result property="downloaded" column="downloaded"/>
        <result property="count" column="ct"/>
    </resultMap>

    <select id="queryClientAnalyse" resultMap="queryClientAnalyse">
        SELECT peer_id, client_name, SUM(uploaded) AS uploaded, SUM(downloaded) AS downloaded, COUNT(*) AS ct
        FROM peer_records
        WHERE first_time_seen >= #{startAt} AND last_time_seen &lt;= #{endAt} AND uploaded > 0 AND downloaded > 0
        <if test="downloader != null">
            AND downloader = #{downloader}
        </if>
        GROUP BY peer_id, client_name
        ORDER BY ${orderBySql}
    </select>

    <!-- 批量统计Torrent的访问记录数量 -->
    <select id="countByTorrentIds" resultType="com.ghostchu.peerbanhelper.databasent.dto.TorrentCount">
        SELECT
            torrent_id AS torrentId,
            COUNT(*) AS count
        FROM peer_records
        WHERE torrent_id IN
        <foreach collection="torrentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY torrent_id
    </select>

    <select id="getDistinctIps" resultType="java.lang.String">
        SELECT DISTINCT address
        FROM peer_records
        WHERE last_time_seen BETWEEN #{start} AND #{end}
        <if test="downloader != null and downloader != ''">
            AND downloader = #{downloader}
        </if>
    </select>

    <insert id="upsert">
        INSERT INTO peer_records (
        address, port, torrent_id, downloader,
        peer_id, client_name,
        uploaded, uploaded_offset, upload_speed,
        downloaded, downloaded_offset, download_speed,
        last_flags, first_time_seen, last_time_seen,
        peer_geoip
        )
        VALUES (
        #{e.address}, #{e.port}, #{e.torrentId}, #{e.downloader},
        #{e.peerId}, #{e.clientName},
        #{e.uploaded}, #{e.uploadedOffset}, #{e.uploadSpeed},
        #{e.downloaded}, #{e.downloadedOffset}, #{e.downloadSpeed},
        #{e.lastFlags}, #{e.firstTimeSeen}, #{e.lastTimeSeen},
        #{e.peerGeoIp, typeHandler=com.ghostchu.peerbanhelper.databasent.driver.common.JsonTypeHandlerForwarder}
        )
        ON CONFLICT (address, torrent_id, downloader) DO UPDATE SET

        uploaded = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen THEN peer_records.uploaded
        WHEN (#{e.uploaded} - peer_records.uploaded_offset) &lt; 0
        THEN peer_records.uploaded + #{e.uploaded}
        ELSE peer_records.uploaded + #{e.uploaded} - peer_records.uploaded_offset
        END,

        downloaded = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen THEN peer_records.downloaded
        WHEN (#{e.downloaded} - peer_records.downloaded_offset) &lt; 0
        THEN peer_records.downloaded + #{e.downloaded}
        ELSE peer_records.downloaded + #{e.downloaded} - peer_records.downloaded_offset
        END,

        uploaded_offset = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.uploaded_offset
        ELSE #{e.uploaded}
        END,

        downloaded_offset = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.downloaded_offset
        ELSE #{e.downloaded}
        END,

        upload_speed = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.upload_speed
        ELSE #{e.uploadSpeed}
        END,

        download_speed = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.download_speed
        ELSE #{e.downloadSpeed}
        END,

        peer_id = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.peer_id
        ELSE #{e.peerId}
        END,

        client_name = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.client_name
        ELSE #{e.clientName}
        END,

        last_flags = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.last_flags
        ELSE #{e.lastFlags}
        END,

        last_time_seen = CASE
        WHEN #{e.lastTimeSeen} &lt; peer_records.last_time_seen
        THEN peer_records.last_time_seen
        ELSE #{e.lastTimeSeen}
        END;
    </insert>
</mapper>
