services:
  peerbanhelper:
    image: "ghostchu/peerbanhelper:<填写版本号>"
    restart: unless-stopped
    container_name: "peerbanhelper"
    volumes:
      - ./:/app/data
    ports:
      - "9898:9898"
    stop_grace_period: 30s
