<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="data/logs/latest.log"
                                 filePattern="data/logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingRandomAccessFile>
        <SwingLoggerAppender name="SwingLoggerAppender" maxLines="1000">
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%t/%level]: %msg%n</pattern>
            </PatternLayout>
        </SwingLoggerAppender>
        <MemoryLoggerAppender name="MemoryLoggerAppender" maxLines="1000">
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%t/%level]: %msg%n</pattern>
            </PatternLayout>
        </MemoryLoggerAppender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL"/>
            </filters>
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="SwingLoggerAppender" level="info"/>
            <AppenderRef ref="MemoryLoggerAppender" level="info"/>
        </Root>
    </Loggers>
</Configuration>