<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.peerbanhelper.databasent.mapper.java.PCBRangeMapper">
    <insert id="upsert" parameterType="com.ghostchu.peerbanhelper.databasent.table.PCBRangeEntity">
        INSERT INTO pcb_range (
        ip_range,
        torrent_id,
        last_report_progress,
        last_report_uploaded,
        tracking_uploaded_increase_total,
        rewind_counter,
        progress_difference_counter,
        first_time_seen,
        last_time_seen,
        downloader,
        ban_delay_window_end_at,
        fast_pcb_test_execute_at,
        last_torrent_completed_size
        ) VALUES (
        #{range},
        #{torrentId},
        #{lastReportProgress},
        #{lastReportUploaded},
        #{trackingUploadedIncreaseTotal},
        #{rewindCounter},
        #{progressDifferenceCounter},
        #{firstTimeSeen},
        #{lastTimeSeen},
        #{downloader},
        #{banDelayWindowEndAt},
        #{fastPcbTestExecuteAt},
        #{lastTorrentCompletedSize}
        )
        ON DUPLICATE KEY UPDATE
        last_report_progress = #{lastReportProgress},
        last_report_uploaded = #{lastReportUploaded},
        tracking_uploaded_increase_total = #{trackingUploadedIncreaseTotal},
        rewind_counter = #{rewindCounter},
        progress_difference_counter = #{progressDifferenceCounter},
        last_time_seen = #{lastTimeSeen},
        ban_delay_window_end_at = #{banDelayWindowEndAt},
        fast_pcb_test_execute_at = #{fastPcbTestExecuteAt},
        last_torrent_completed_size = #{lastTorrentCompletedSize};
    </insert>
</mapper>
