Package: peerbanhelper
Version: <version>
Pre-Depends: adduser
Depends: java-runtime (>=21), libc6
Section: universe/net
Priority: optional
Architecture: all
Maintainer: Ghost_chu
Description: PeerBanHelper is a tool to auto ban peers on the bitorrent network
Homepage: https://github.com/PBH-BTN/PeerBanHelper
