## @NAME PeerID/Client Name 黑名单
## @AUTHOR PBH-BTN Community
## @CACHEABLE true
## @VERSION 1.0
## @THREADSAFE true

## 全部转换为小写
let peerIdLowercase = toLowerCase(peer.peerId);
let clientNameLowercase = toLowerCase(peer.clientName);
## 封禁列表
let bannedPeerIds = seq.array(java.lang.String,
    '-hp', '-dt', '-sd', '-xf', '-gt',
    '-qd', '-bn', '-dl', '-ts',
    '-fg', '-tt', '-nx', '-ax',
    '-lp', '-nx', '-vg', '-mg'
    );

let bannedClientNames = seq.array(java.lang.String,
    'hp/torrent', 'hp ', 'dt/torrent', 'dt ',
    'go.torrent.dev', 'xfplay',
    'stellarplayer', 'sp ',
    'flashget', 'tudou',
    'torrentstorm', 'qqdownload',
    'github.com/anacrolix/torrent',
    'qbittorrent/3.3.15', 'github.com/thank423/trafficconsume',
    'ljyun.cn/hangzhou/monitoring', 'taipei-torrent'
    );

## 检查封禁
for bannedPeerId in bannedPeerIds {
  if(string.startsWith(peerIdLowercase, bannedPeerId)){
      return true;
  }
}
for bannedClientName in bannedClientNames {
  if(string.startsWith(clientNameLowercase, bannedClientName)){
      return true;
  }
}
return false;