name: Maven Build

on:
  workflow_call:
    secrets:
      INSTALL4J_LICENSE:
        required: true
jobs:
  WebUI:
    uses: ./.github/workflows/build_fe.yml
  Maven:
    needs: WebUI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: webui-dist
          path: src/main/resources/static
      - name: Display structure of WebUI dist
        run: ls src/main/resources/static
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'
      - name: Build with Maven
        run: mvn -B clean package --file pom.xml -P thin-sqlite-packaging
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: maven-dist
          path: |
            target/*.jar
            target/media/*.exe
        id: project