# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Release

on:
  workflow_dispatch:
  release:
    types:
      - published
jobs:
  Build_Executable:
    permissions:
      contents: write
      checks: write
      actions: read
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
    secrets: inherit
    uses: ./.github/workflows/build_maven.yml
  Build_Installers:
    needs: Build_Executable
    uses: ./.github/workflows/build_installers.yml
    secrets: inherit
  Build_SPK:
    needs: Build_Executable
    uses: ./.github/workflows/build_spk.yml
    with:
      image: registry.cn-hangzhou.aliyuncs.com/ghostchu/peerbanhelper:${{ github.ref_name }}
  Build_DEB:
    needs: Build_Executable
    uses: ./.github/workflows/build_deb.yml
  Build_PKG:
    needs: Build_Executable
    uses: ./.github/workflows/build_pkg.yml
  Build_Portable:
    needs: Build_Executable
    uses: ./.github/workflows/build_portable.yml
  Upload_Artifacts:
    needs: [Build_Executable, Build_Installers, Build_SPK, Build_DEB, Build_PKG, Build_Portable]
    permissions:
      contents: write
      checks: write
      actions: read
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: maven-dist
          path: target/
      - uses: actions/download-artifact@v4
        with:
          name: installer-dist
          path: target/media
      - uses: actions/download-artifact@v4
        with:
          name: spk-dist
          path: target/media
      - uses: actions/download-artifact@v4
        with:
          name: deb-dist
          path: target/media
      - uses: actions/download-artifact@v4
        with:
          name: portable-dist
          path: target/media
      - uses: actions/download-artifact@v4
        with:
          name: freebsd-pkg-13.4-dist
          path: target/media
      - uses: actions/download-artifact@v4
        with:
          name: freebsd-pkg-14.1-dist
          path: target/media
      - uses: alexellis/upload-assets@0.4.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["target/media/PeerBanHelper_*", "target/media/peerbanhelper_*", "target/media/peerbanhelper-*"]'
  Build_Docker:
    permissions:
      contents: write
      checks: write
      actions: read
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
    needs: Build_Executable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: maven-dist
          path: target
      - name: Set Up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set Up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ghostchu/peerbanhelper
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,latest-jvm-universal
            type=raw,latest
            type=sha
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: |
            linux/amd64
            linux/arm64/v8
            linux/riscv64
            linux/ppc64le
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}-jvm-universal
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GIT_HASH=${{ github.sha }}
      # ---------------- ALIYUN ACR --------------------
      - name: Log in to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: "registry.cn-hangzhou.aliyuncs.com"
          username: ${{ secrets.ALIYUN_ACR_USERNAME }}
          password: ${{ secrets.ALIYUN_ACR_PASSWORD }}
      - name: Extract metadata (tags, labels) for Aliyun ACR
        id: meta-acr
        uses: docker/metadata-action@v5.5.1
        with:
          images: registry.cn-hangzhou.aliyuncs.com/ghostchu/peerbanhelper
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,latest-jvm-universal
            type=raw,latest
            type=sha
      - name: Build and push Aliyun ACR
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: ./Dockerfile-Release
          push: true
          platforms: |
            linux/amd64
            linux/arm64/v8
            linux/riscv64
            linux/ppc64le
          tags: ${{ steps.meta-acr.outputs.tags }}
          labels: ${{ steps.meta-acr.outputs.labels }}-jvm-universal
          cache-from: type=gha
          cache-to: type=gha,mode=max
