# 注意！！
# 此 PR 禁止使用包含敏感数据或者发布型的操作，避免恶意用户通过 PR 对供应链发起攻击

name: Java CI (pull_request)

on:
  pull_request:
  workflow_dispatch:
jobs:
  WebUI:
    uses: ./.github/workflows/build_fe.yml
  CI:
    needs: WebUI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: webui-dist
          path: src/main/resources/static
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "25"
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'
      - name: Build with Maven
        run: mvn -B clean package --file pom.xml -P thin-sqlite-packaging